{
    "server": "irc.freenode.net",
    "nick": "GodWhite",
    "channel": "#ocioxtreme",
    "auxchans": ["#auxchannel1", "#auxchannel2"],
    "stats-url": "http://example.org",
    "nickserv-user": "WhiteBot",
    "nickserv-pass": "botpassword",
    "modules": ["example"]
}
